{% extends 'layout.html' %}

{% set pageId = "page-create-point" %}

{% block title %}
    <title>Create a collect point</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="./styles/create-point.css">
    <link rel="stylesheet" href="./styles/modal.css">
{% endblock styles %}


{% block content %}

    {% include 'partials/page-header.html' %}


    <form action="/savepoint" method="POST">

        <h1>Collect point register</h1>

        <fieldset>

            <legend>
                <h2>Entity Data</h2>
            </legend>

            <div class="field-group">
                <div class="field">
                    <label for="name">Entity name</label>
                    <input type="text" name="name" required>
                </div>
                <div class="field">
                    <label for="name">Entity image</label>
                    <input type="url" name="image" placeholder="http://" required>
                </div>
            </div>

            

            <div class="field-group">
                <div class="field">
                    <label for="address">Address</label>
                    <input type="text" name="address" required>
                </div>
                <div class="field">
                    <label for="address2">Number/Apt/Other</label>
                    <input type="text" name="address2" required>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="state">State/District</label>
                    <select name="uf" required>
                        <option value="">Select State/District</option>
                    </select>

                    <input type="hidden" name="state">
                </div>

                <div class="field">
                    <label for="city">City</label>
                    <select name="city" disabled required>
                        <option value="">Select City</option>
                    </select>
                </div>
            </div>

        </fieldset>


        <fieldset>
            <legend>
                <h2>Collect Items</h2>
                <span>Select one or more items above</span>
            </legend>

            <div class="items-grid">
                <li data-id="Lamps">
                    <img src="./assets/lampadas.svg" alt="Lamps">
                    <span>Lamps</span>
                </li>

                <li data-id="Batteries">
                    <img src="./assets/baterias.svg" alt="Batteries">
                    <span>Batteries</span>
                </li>

                <li data-id="Paper and Cardboard">
                    <img src="./assets/papeis-papelao.svg" alt="Paper and Cardboard">
                    <span>Paper and Cardboard</span>
                </li>

                <li data-id="Electronic Waste">
                    <img src="./assets/eletronicos.svg" alt="Electronic Waste">
                    <span>Electronic Waste</span>
                </li>

                <li data-id="Organic Waste">
                    <img src="./assets/organicos.svg" alt="Organic Waste">
                    <span>Organic Waste</span>
                </li>

                <li data-id="Kitchen Oil">
                    <img src="./assets/oleo.svg" alt="Kitchen Oil">
                    <span>Kitchen Oil</span>
                </li>

            </div>

            <input type="hidden" name="items">

        </fieldset>

        <button type="submit">Register collect point</button>
    </form>

    
    {% endblock content %}
   
    {% block modal %}

        {% if error %}
            {% include 'partials/point-error.html' %}
        {% endif %}

        {% if saved %}
            {% include 'partials/point-created.html' %}
        {% endif %}
        
    {% endblock modal %}

{% block scripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock scripts %}