<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Collect Points</h1>
            <a href="#">Close</a>
        </div>

        <form action="/search-results">
            <label for="search">City</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Search City">
                <button>
                    <img src="./assets/search.svg" alt="Search">
                </button>
            </div>
        </form>
    </div>
</div>